@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

*{
    margin:0;
    padding:0;
}

body{
    padding: 0;
    margin: 0;
    background-color: #1A1A1A;
    font-family: "Bubblegum Sans", sans-serif;
    color: honeydew;
}

#header, #footer{
    /*background-color: darkkhaki;*/
    width: 97vw;
    height: 8vh;
    text-align: center;
}

#blackboard, #menu{
    display: table-cell;
    cursor: default;
}

#header, #footer, #blackboard, #menu{
    position: relative;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-right: 1vw;
}

#blackboard{
    /*background-color: aqua;*/
    width: 78vw;
    height: 80vh;
}

#blackboardSize{
    width: 78vw;
    height: 78vh;
}

#menuSize{
    width: 17vw;
    height: 78vh;
}

#menu{
    /*background-color: forestgreen;*/
    width: 17vw;
    height: 80vh;
}

.content{
    position: absolute;
    background-color: darkkhaki;
    border-radius: 1vmin;
}

.menu{
    font-size: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    list-style: none;
}

li{
    padding-top: 2vh;
}

.textHF{
    width: 97vw;
    height: 8vh;
    display: flex;
}

.textCenter{
    margin: auto;
}

#headerContent{
    font-size: 5vh;
}
#footerContent{
    font-size: 2vh;
}

.topLine{
    width: 100%;
    height: 8vh;
    font-size: 3vh;
    border-spacing: 1.5vw;
}

#staffScreen .topLine{
    display: inline-table;
}

.text, .button, .inputVal, .choiceVal, .freeSpace{
    display: table-cell;
    vertical-align: middle;
    margin-left: 3vw;
    white-space: nowrap;
}

#cameraSettingsScreen .text{
    display: inline-block;
}

.staffPageText{
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    margin-left: 1.3vw;
    width: 15.6vw;
    max-width: 15.6vw;
    height: 2vh;
    max-height: 3vh;
    font-size: 2vh;
}

.button{
    width: fit-content;
    height: 5vh;
    background-color:black;
    border-radius: 3vmin;
    text-align: center;
}

.staffInputVal{
    width: 10vw;
}

.inputVal, .choiceVal{
    width: 20vw;
    height: 5vh;
    background-color:beige;
    border-radius: 3vmin;
    text-align: center;
    color: black;
    font-size: 2vh;
    outline: none;
    border: 0;
}

.choiceVal{
    margin-left: 0;
    text-align-last: center;
}

.cameraBlocks{
    width: 76vw;
    height: 68vh;
    padding: 1vh 1vw;
}

.cameraBlock{
    padding-top: 1vh;
    /*padding-left: 1vw;*/
    padding-bottom: 1vh;
    /*padding-right: 1vw;*/
    background-color:bisque;
    display: table-cell;
}

.amountCameras_1{
    width: 74vw;
    height: 68vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.testInside_1{
    background-color: coral;
    display: table-cell;
    width: 74vw;
    height: 66vh;
}

.amountCameras_2{
    width: 37vw;
    height: 33vh;
    padding-left: 19.5vw;
    padding-right: 19.5vw;
}

.amountCameras_4{
    width: 37vw;
    height: 33vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.testInside_2_4{
    background-color: coral;
    display: table-cell;
    width: 36vw;
    height: 32vh;
}

#newLineForAmount_2{
    display: table-cell;
}

#mapScreen, #camerasScreen ,#cameraSettingsScreen ,#aboutProjectScreen ,#facesScreen ,#staffScreen{
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-color: darkkhaki;
    border-radius: 1vmin;
}

.topLine, .cameraBlocks, .placeHolder_333 {
    position: relative;
}

#uniSet, #streamSet{
    position: absolute;
    z-index: 0;
}

#uniSet, #streamSet, .settingsBackground, .staffPage{
    width: inherit;
    height: 70vh;
}

.settingsBackground, .staffPage{
    position: absolute;
    z-index: 1;
    background-color: darkkhaki;
    border-radius: 1vmin;
    height: 68vh;
}

#streamSetFirstPage, #streamSetSecondPage{
    width: inherit;
    height: inherit;
    background-color: darkkhaki;
    border-radius: 1vmin;
}

#streamSetFirstPage{
    position: absolute;
    z-index: 2;
}

#streamSetSecondPage, #staffAddPage, #staffListPage{
    position: absolute;
    z-index: 0;
}

.rightBut{
    padding-left: 68vw;
}

.photoLine{
    width: inherit;
    height: 15vh;
}

.photoLineWithBut{
    width: inherit;
    height: 17vh;
}

.photoAddBlock{
    width: 13vw;
    height: 15vh;
    display: table-cell;
    position: absolute;
    z-index: 0;
}

.photoAddBlock2{left: 13vw;}
.photoAddBlock3{left: 26vw;}
.photoAddBlock4{left: 39vw;}
.photoAddBlock5{left: 52vw;}
.photoAddBlock6{left: 65vw;}

.photoAddBlockPlaceHolder{
    z-index: 1;
    background: darkkhaki;
}

.photo_80, .photo_60, .photo_30{
    width: 10.4vw;
    border-radius: 1vmin;
    display: block;
    margin: auto;
}

.photo_80{
    height: 24vh;
}

.photo_60{
    height: 19vh;
}

.photo_30{
    height: 10vh;
}

.photoPlusMinus{
    width: 5vw;
    height: 5vh;
    border-radius: 1vmin;
    padding-top: 1vh;
}

.photoPlus{
    padding-left: 1.5vw;
}

.photoMinus{
     padding-left: 0.2vw;
}

.staffAddPageText{
    display: inline-block;
    width: 12vw;
    margin-left: 1vw;
}

.staffInputVal{
    width: 58vw;
}

#staffAddSaveButt{
    width: 15vw;
    display: inline-block;
}

#staffScreenListBut, #staffScreenAddBut{
    width: 13vw;
    display: inline-block;
}

#staffScreenChoiceVal{
    width: 25vw;
    position: absolute;
}

#staffAddRemoveUserButt{
    width: 25vw;
    z-index: 0;
    position: absolute;
}
#staffAddRemoveUserButtPlaceHolder{
    width: 25vw;
    z-index: 1;
    position: absolute;
}
#staffAddRemoveUserButtBackground{
    background-color: darkkhaki;
    border-radius: 0;
}

#staffListPrevButt, #staffAddPrevButt{
    width: 10vw;
    z-index: 0;
    position: absolute;
}
#staffListPrevButtPlaceHolder, #staffAddPrevButtPlaceHolder{
    width: 10vw;
    z-index: 1;
    position: absolute;
}
#staffListPrevButtBackground, #staffAddPrevButtBackground{
    background-color: darkkhaki;
    border-radius: 0;
}

#staffListNextButt, #staffAddNextButt{
    left: 68vw;
    width: 10vw;
    z-index: 0;
    position: absolute;
}
#staffListNextButtPlaceHolder, #staffAddNextButtPlaceHolder{
    left: 68vw;
    width: 10vw;
    z-index: 1;
    position: absolute;
}
#staffListNextButtBackground, #staffAddNextButtBackground{
    background-color: darkkhaki;
    border-radius: 0;
}

#staffAddFullNameBlock{
    margin-top: 8vh;
}