@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

*{
    margin:0;
    padding:0;
    user-select: none;
}

body{
    padding: 0;
    margin: 0;
    background-color: #1A1A1A;
    font-family: "Bubblegum Sans", sans-serif;
    color: honeydew;
}

#header, #footer{
    /*background-color: darkkhaki;*/
    width: 97vw;
    height: 8vh;
    text-align: center;
}

#blackboard, #menu{
    display: table-cell;
    cursor: default;
}

#header, #footer, #blackboard, #menu{
    position: relative;
    padding: 1vh 1vw;
}

#blackboard{
    /*background-color: aqua;*/
    width: 78vw;
    height: 80vh;
}

#blackboardSize{
    width: 78vw;
    height: 78vh;
}

#menuSize{
    width: 17vw;
    height: 78vh;
}

#menu{
    /*background-color: forestgreen;*/
    width: 18vw;
    height: 80vh;
}

.content{
    position: absolute;
    background-color: darkkhaki;
    border-radius: 1vmin;
}

.menu{
    font-size: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    list-style: none;
}

li{
    padding-top: 2vh;
    overflow: hidden;
}

.textHF{
    width: 98vw;
    height: 8vh;
    display: flex;
}

.textCenter{
    margin: auto;
}

#headerContent{
    font-size: 5vh;
}
#footerContent{
    font-size: 2vh;
}

.topLine{
    width: 100%;
    height: 8vh;
    font-size: 3vh;
    border-spacing: 1.5vmin;
}

/*#staffScreen .topLine, #facesScreen .topLine, #cameraSettingsScreen .topLine{*/
.topLine{
    display: inline-table;
}

.text, .button, .inputVal, .choiceVal, .freeSpace{
    display: table-cell;
    vertical-align: middle;
    margin-left: 3vw;
    white-space: nowrap;
}

#cameraSettingsScreen .text{
    display: inline-block;
}

.staffPageText{
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    margin-left: 0.78vw;
    width: 6.24vw;
    max-width: 6.24vw;
    height: 2vh;
    max-height: 3vh;
    font-size: 2vh;
    overflow: hidden;
}

.button{
    width: fit-content;
    height: 5vh;
    background-color:black;
    border-radius: 3vmin;
    text-align: center;
}

.staffInputVal{
    width: 10vw;
}

.inputVal, .choiceVal{
    width: 20vmin;
    height: 5vh;
    background-color:beige;
    border-radius: 1vmin;
    text-align: center;
    color: black;
    font-size: 3vmin;
    outline: none;
    border: 0;
}

.choiceVal{
    margin-left: 0;
    text-align-last: center;
    height: 6vmin;
}

.cameraBlocks{
    width: 76vw;
    height: 68vh;
    padding: 1vh 1vw;
}

.cameraBlock{
    padding-top: 1vh;
    /*padding-left: 1vw;*/
    padding-bottom: 1vh;
    /*padding-right: 1vw;*/
    background-color:bisque;
    display: table-cell;
    border-radius: 1vmin;
}

.amountCameras_1{
    width: 74vw;
    height: 68vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.testInside_1{
    background-color: coral;
    display: table-cell;
    width: 74vw;
    height: 66vh;
}

.amountCameras_2{
    width: 37vw;
    height: 33vh;
    padding-left: 19.5vw;
    padding-right: 19.5vw;
}

.amountCameras_4{
    width: 37vw;
    height: 33vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.testInside_2_4{
    background-color: coral;
    display: table-cell;
    width: 36vw;
    height: 32vh;
}

#newLineForAmount_2{
    display: table-cell;
}

#mapScreen, #authScreen, #camerasScreen ,#cameraSettingsScreen ,#aboutProjectScreen ,#facesScreen ,#staffScreen{
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-color: darkkhaki;
    border-radius: 1vmin;
}

.topLine, .cameraBlocks, .placeHolder_333 {
    position: relative;
}

#uniSet, #streamSet{
    position: absolute;
    z-index: 0;
}

#uniSet, #streamSet, .settingsBackground, .staffPage{
    width: inherit;
    height: 70vh;
}

.settingsBackground, .staffPage{
    position: absolute;
    z-index: 1;
    background-color: darkkhaki;
    border-radius: 1vmin;
    height: 68vh;
}

#streamSetFirstPage, #streamSetSecondPage{
    width: inherit;
    height: inherit;
    background-color: darkkhaki;
    border-radius: 1vmin;
}

#streamSetFirstPage{
    position: absolute;
    z-index: 2;
}

#streamSetSecondPage, #staffAddPage, #staffListPage{
    position: absolute;
    z-index: 0;
}

.rightBut{
    padding-left: 68vw;
}

.photoLine{
    width: inherit;
    height: 15vh;
}

.photoLineWithBut{
    width: inherit;
    height: 17vh;
}

.photoLineWithButAndDescription{
    height: 20vh;
}

.photoCard{
    width: 7.8vw;
    height: 15vh;
    display: table-cell;
    position: absolute;
    z-index: 0;
}

.photoCardBut{
    height: 17vh;
}

.photoCardButAndDescription{
    height: 20vh;
}

.photoCard2{left: 7.8vw;}
.photoCard3{left: 15.6vw;}
.photoCard4{left: 23.4vw;}
.photoCard5{left: 31.2vw;}
.photoCard6{left: 39.0vw;}
.photoCard7{left: 46.8vw;}
.photoCard8{left: 54.6vw;}
.photoCard9{left: 62.4vw;}
.photoCard10{left: 70.2vw;}


.photoCardPlaceHolderList, .photoCardPlaceHolderAdd, .photoCardPlaceHolderFaces{
    z-index: 1;
    background: darkkhaki;
}

.photoCardPlaceHolderList{height: 15vh;}
.photoCardPlaceHolderAdd{height: 17vh;}
.photoCardPlaceHolderFaces{height: 20vh;}

.photo_80, .photo_60, .photo_30{
    width: 6.24vw;
    border-radius: 1vmin;
    display: block;
    margin: auto;
}

.photo_80{
    height: 24vh;
}

.photo_60{
    height: 19vh;
}

.photo_30{
    height: 10vh;
}

.resultClassification{
    margin-left: calc(0.78vw + (6.24vw - 4vmin)/2);
    width: 4vmin;
    max-width: 4vmin;
}

.staffAddPageText {
    display: inline-block;
    width: 12vw;
    margin-left: 1vw;
}

.staffInputVal{
    width: 58vw;
}

#staffAddSaveButt{
    z-index: 0;
    position: absolute;
    top: 58vh;
    left: 0;
}

.topLineForChoiceVal{
    width: calc(17vmin + 5vw);
    position: absolute;
}

#facesScreenChoiceVal{
    z-index: 0;
    left: 44vmin;
    width: 24vmin;
}
#choiceValFacesScreen, #choiceValFacesScreenBackground{
    width: calc(24vmin - 2vw);
}
#facesScreenChoiceValBackground{
    width: calc(24vmin - 2vw);
    background-color: darkkhaki;
    position: absolute;
    z-index: 1;
    left: 44vmin;
}
#choiceValFacesScreenBackground{
    visibility: hidden;
}

#facesScreenArrowOutR, #facesScreenPoo, #facesScreenRemove, #facesScreenRefresh, #facesScreenLast, #facesScreenDate_1, #facesScreenDate_2, #facesScreenArrowForward{
    position: absolute;
    z-index: 0;
}

#facesScreenRefresh, #facesScreenLast, #facesScreenDate_1, #facesScreenDate_2, #facesScreenArrowForward{
    z-index: 2;
}
#facesScreenRefresh{left: 0vmin;}
#facesScreenLast{left: 8vmin;}
#facesScreenDate_1{left: 12vmin;}
#facesScreenDate_2{left: 12vmin;}
#facesScreenArrowForward{left: 32vmin;}
#facesScreenArrowOutR{left: 44vmin;}
#facesScreenPoo{left: 52vmin;}
#facesScreenRemove{left: 60vmin;}

#staffScreenLoupe, #staffScreenPlus, #staffScreenChoiceVal{
    position: absolute;
    z-index: 2;
}

#staffScreenLoupe{left: 0vmin;}
#staffScreenPlus{left: 8vmin;}
#staffScreenChoiceVal{left: 16vmin;}

#staffBackground, #staffAddPage, #staffListPage{
    top: 8vmin;
}

#staffAddRemoveUserButt{
    z-index: 0;
    position: absolute;
    top: 58vh;
    left: 25vmin;
}
#staffAddRemoveUserButtPlaceHolder{
    z-index: 1;
    position: absolute;
    top: 58vh;
    left: 25vmin;
    border-spacing: 0;
}
#staffAddRemoveUserButtBackground{
    background-color: darkkhaki;
    border-radius: 0;
    height: 6vmin;
}

.topLinePrevBut{
    z-index: 0;
    width: 9vmin;
    position: absolute;
}
.topLinePrevButPlaceholder{
    width: 9vmin;
    z-index: 1;
    position: absolute;
    left: 0vh;
    border-spacing: 0;
}
.prevButtPlaceHolder{
    background-color: darkkhaki;
    border-radius: 0;
    height: 6vmin;
}

.topLineNextBut{
    left: calc(78vw - 9vmin);
    width: 9vmin;
    z-index: 0;
    position: absolute;
}
.topLineNextButPlaceholder{
    left: calc(78vw - 9vmin);
    width: 9vmin;
    z-index: 1;
    border-spacing: 0;
    position: absolute;
}
.nextButtPlaceHolder{
    background-color: darkkhaki;
    border-radius: 0;
    height: 6vmin;
}

#camSetPrevButt,#camSetPrevButtPlaceHolder{
    top: 40vh;
    left: 0;
}
#camSetNextButt, #camSetNextButtPlaceHolder{
    top: 40vh;
}


.topLineForButBig{
    width: 9vmin;
}
#staffAddFullNameBlock{
    margin-top: 8vh;
}

#aboutProjectText{
    padding: 5vh 5vw;
    font-size: 2vh;
}

.topLineForImg{
    width: 8vmin;
    height: 8vmin;
    border-spacing: 1vmin;
}

.topLineForSelect{
    height: 8vmin;
    border-spacing: 1vw 1vh;
}

.imgTopLine{
    width: 4vmin;
    height: 4vmin;
    margin-left: 0.5vmin;
    margin-top: 0.5vmin;
}

.butBackground{
    background-color: beige;
    border-radius: 1vmin;
    width: 5vmin;
    height: 5vmin;
}

.notChecked{
    border: 0.3vmin solid beige;
    border-spacing: 0.7vmin;
}

.checked{
    border: 0.3vmin solid black;
    border-spacing: 0.7vmin;
}

.notAllowedToTouch{
    opacity: 0.5;
}

.allowedToTouch{
    opacity: 1;
}

.butBackgroundBigSize{
    width: 6vmin;
    height: 6vmin;
}

.butImgBigSize{
    width: 5vmin;
    height: 5vmin;
}

.photoPlusMinus{
    padding-top: 1vh;
    display: inline-block;
}

.photoPlus{
    padding-left: calc(0.78vw + (6.24vw - 2 * 3vmin)/3);
}

.photoMinus{
    padding-left: calc((6.24vw - 2 * 3vmin)/3);
}

.butBackgroundSmallSize{
    width: 3vmin;
    height: 3vmin;
}

.butImgSmallSize{
    width: 2vmin;
    height: 2vmin;
}

.topLineForDate{
    height: 2.5vh;
    width: 20vmin;
    position: absolute;
    border-spacing: 0;
}

.topLineForDate input{
    height: 2.5vmin;
    width: 20vmin;
    background-color:beige;
    border-radius: 1vmin;
    text-align: center;
    color: black;
    font-size: 1.9vmin;
    outline: none;
    border: 0;
    text-align-last: center;
}

#facesScreenDate_1{top: 1vh;}
#facesScreenDate_2{top: calc(1vh + 2.5vmin + 1vmin);}

#facesPage{top:10vmin;}

.butResultClassification{
    margin: auto;
    width: 4vmin;
    height: 4vmin;
}
.butResultClassificationOk{
    background-color: green;
    z-index: 0;
}
.butResultClassificationWarn{
    background-color: yellow;
    z-index: 0;
}
.butResultClassificationAlert{
    background-color: red;
    z-index: 0;
}
.butResultClassificationBackground{
    background-color: darkkhaki;
    z-index: 1;
    border-radius: 0;
}

.staffPageTextPosition{
    margin-bottom: 1vh;
}

.butResultClassification img{
    width: 3vmin;
    height: 3vmin;
}

.resultClassification{
    padding-top: 0;

}

.butResultClassification{
    position: absolute;
}

.mapPage{
    width: calc(78vw - 2vmin);
    /*height: calc(78vh - 14.6vmin - 2vmin);*/
    /*top: 15.6vmin;*/
    left: 1vmin;
    position: absolute;
    border-spacing: 1vmin;
    border-radius: 1vmin;
    background-color: beige;
    z-index: 2;
}

.mapPageViewMode{
    top: 9.6vmin;
    height: calc(78vh - 8.6vmin - 2vmin);
}
.mapPageEditingMode{
    top: 15.6vmin;
    height: calc(78vh - 14.6vmin - 2vmin);
}

.tooSmallImg{
    width: 6vmin;
    height: 6vmin;
    margin-left: 0;
    margin-top: 0;
}

.tooBigImg{
    width: 4vmin;
    height: 4vmin;
    margin-left: 1vmin;
    margin-top: 1vmin;
}

.sliderBlock{
    position: absolute;
    top: 8.6vmin;
    left: 0vmin;
    border-spacing: 1vmin;
    display: inline-flex;
}
.slider{
    background-color: darkkhaki;
    width: 16vmin;
    height: 4vmin;
    padding: 1vmin;
    position: absolute;
}
.sliderLine{
    background-color: beige;
    border-radius: 3vmin;
    width: inherit;
    height: inherit;
    position: absolute;
}
.sliderBall{
    background-color: beige;
    border-radius: 3vmin;
    border: 0.5vmin solid black;
    width: 3vmin;
    height: 3vmin;
    position: absolute;
}
.sliderDescription{
    width: inherit;
    height: inherit;
    position: absolute;

    font-size: 2vmin;
    color: black;
    text-align: center;
    outline: none;
    padding-top: 1vmin;
    opacity: 0.5;
}
.sliderPosition_1{left: 0vmin}
.sliderPosition_2{left: 18vmin}
.sliderPosition_3{left: 36vmin}

.sliderBackground{
    z-index: 1;
}
.sliderLineBackground{
    background-color: darkkhaki;
}

.slidersBackground{
    width: inherit;
    height: 6vmin;
    background-color: darkkhaki;
}

.visible{z-index: 2}
.background{z-index: 1}
.hidden{z-index: 0}

.authText{text-align: center;}
#topLineForAuthText{margin-top: 8vmin;}

#authScreen inputVal{width: 20vmin;}
#authInputLogin{
    margin-left: calc(39vw - 21.5vmin);
    margin-right: 1.5vmin;
}
#authInputPass{margin-left: 1.5vmin;}

#authNewUser{
    width: 20vmin;
    text-align: center;
}
#topLineForNewUser{
    padding-left: calc((78vw - 27.5vmin)/2);
    height: 8vmin;
}

#authTry{margin-left: calc((78vw - 6vmin)/2);}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.redAuthErr{color: red;}
.greenAuthErr{color: green;}

#streamSetCamNumb{
    width: 20vmin;
    height: 5vh;
    margin-left: 3vw;
}

.butNoFrame{
    width: 6vmin;
    height: 6vmin;
    border: none;
}
.imgNoFrame{
    margin-left: 0.5vmin;
    margin-top: 0.5vmin;
}

.butFrame{
    width: 5.4vmin;
    height: 5.4vmin;
    border: 0.3vmin solid black;
}
.imgFrame{
    margin-left: 0.2vmin;
    margin-top: 0.2vmin;
}

.butYellowBorder{border: 0.3vmin solid yellow;}
.butRedBorder{border: 0.3vmin solid red;}
.butGreenBorder{border: 0.3vmin solid green;}

.addPhoto{
    opacity:0;
    width: 3vmin;
    height: 3vmin;
    position: absolute;
    left: calc(0.78vw + (6.24vw - 2 * 3vmin)/3);
}

#staffLoupeLoading, #staffLoupeLoadingBackground{
    position: absolute;
    width: calc(78vw - 9vmin * 2);
    text-align: center;
    font-size: 5vmin;
    z-index: 2;
    left: 9vmin;
}
#staffLoupeLoadingBackground{
    z-index: 1;
    background-color: darkkhaki;
    border-spacing: 0;
}
#staffLoupeLoadingBackgroundInner{
    height: inherit;
    width: inherit;
}

#facesLoading, #facesLoadingBackground{
    position: absolute;
    width: calc(78vw - 9vmin * 2);
    text-align: center;
    font-size: 5vmin;
    z-index: 2;
    left: 9vmin;
}
#facesLoadingBackground{
    z-index: 1;
    background-color: darkkhaki;
    border-spacing: 0;
}
#facesLoadingBackgroundInner{
    height: inherit;
    width: inherit;
}

#staffAddBanned{
    z-index: 1;
    position: absolute;
    top: 58vh;
    left: 9vmin;
    width: 16vmin;
    height: 8vmin;
}
#staffAddBannedButton{
    border-spacing: 0;
    height: 6vmin;
    font-size: 3vmin;
    text-align: center;
    background-color: beige;
    color: black;
    border-radius: 1vmin;
}
.staffBannedRed{
    border: 0.3vmin solid red;
}
.staffBannedGreen{
    border: 0.3vmin solid green;
}

#sliderIdCode{
    left: 54vmin;
}

.cameraChoice{
    background-color: darkkhaki;
    width: 16vmin;
    height: 4vmin;
    padding: 1vmin;
    position: absolute;

    left: 54vmin
}

.cameraChoice select{
    background-color: beige;
    border-radius: 1vmin;
    width: inherit;
    height: inherit;
    position: absolute;

    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    text-align-last: center;
    text-align: center;
    color: black;
    font-size: 2vmin;
    outline: none;
    border: 0;
}