body{
    padding: 0;
    margin: 0;
}

#scoreLine{
    /*background-color: antiquewhite;*/
    width: 50vw;
    height: 10vh;
    margin: auto;
    font-size: 3vmin;
    display: table;
}

.scoreBlock{
    /*background-color: coral;*/
    width: 33.3333%;
    display: table-cell;
    vertical-align: middle;
}

.scoreLine{
    /*background-color: darkmagenta;*/
    display: table;
    margin: auto;
}

.scoreText{
    /*background-color: blue;*/
    display: table-cell;
}

.scoreVal{
    /*background-color: chartreuse;*/
    display: table-cell;
}

#blackboard{
    background-color: aquamarine;
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
}

#cardsTable{
    background-color: coral;
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}

tr{
    background-color: blue;
    width: 100%;
}

th{
    background-color: brown;
    position: relative;
}

.cardBack{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.cardFront{
    background-color: forestgreen;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

img{
    width: 100%;
    height: 100%;
}

/*body{
    margin: 2.5%;
    background-color: #1A1A1A;
}

#scoreLine{
    width: 100%;
    height: 10%;
    padding-left: 20%;
    font-size: xx-large;
}

#blackboard{
    width: 100%;
    height: 90%;
}

.scoreBlock{
    width:20%;
    display: inline-block;
    text-align: center;
}


.scoreVal, .scoreText{
    display: inline-block;
}

.scoreText{
    color: white;
}

.scoreVal{
    margin-left: 3%;
    color: #DBB6AB;
}

#cardsTable{
    width: 100%;
    height: 100%;
    padding: 7%;
}

@keyframes flipClose {
    from {width: 100;height: 150;}
    to {width: 0;height: 150;}
}

@keyframes flipOpen {
    from {width: 0;height: 150;}
    to {width: 100;height: 150;}
}

img{
    border-color: #1A1A1A;
    border-style: solid;
    border-radius: 10%;
    max-width: 100px;
    max-height: 150px;
}

#cardBack{
    max-width: 100px;
    max-height: 150px;
}*/