@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);
body{
    padding: 0;
    margin: 0;
    background-color: #1A1A1A;
    font-family: "Bubblegum Sans", sans-serif;
}

#scoreLine{
    /*background-color: antiquewhite;*/
    width: 50vw;
    height: 10vh;
    margin: auto;
    font-size: 3vmin;
    display: table;
}

.scoreBlock{
    /*background-color: coral;*/
    width: 33.3333%;
    display: table-cell;
    vertical-align: middle;
}

.scoreLine{
    /*background-color: darkmagenta;*/
    display: table;
    margin: auto;
}

.scoreText{
    /*background-color: blue;*/
    display: table-cell;
    color: white;
}

.scoreVal{
    /*background-color: chartreuse;*/
    display: table-cell;
    color: #DBB6AB;
}

#blackboard{
    /*background-color: aquamarine;*/
    width: 80vw;
    height: 70vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

#cardsTable{
    /*background-color: coral;*/
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}

tr{
    /*background-color: blue;*/
    width: 100%;
}

th{
    /*background-color: brown;*/
}

.card{
    /*background-color: aqua;*/
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: auto;
}

.card_c{
    /*background-color: darkkhaki;*/
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.cardBack, .cardFront{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cardBack{
    z-index: 2;
}

.cardFront{
    z-index: 1;
}



img{
    width: inherit;
    height: fit-content;
    border-color: #1A1A1A;
    border-style: solid;
    border-radius: 10%;
    border-width: 0px;
}
/*
@keyframes flipOpen {
    0% {width: 0%;}
	10% {width: 10%;}
	20% {width: 20%;}
	30% {width: 30%;}
	40% {width: 40%;}
	50% {width: 50%;}
	60% {width: 60%;}
	70% {width: 70%;}
	80% {width: 80%;}
	90% {width: 90%;}
    100% {width: 100%;}
}

@keyframes flipClose {
    0% {width: 100%;}
	10% {width: 90%;}
	20% {width: 80%;}
	30% {width: 70%;}
	40% {width: 60%;}
	50% {width: 50%;}
	60% {width: 40%;}
	70% {width: 30%;}
	80% {width: 20%;}
	90% {width: 10%;}
    100% {width: 0%;}
}*/